In [2]:
from hashlib import sha1
import altair as alt
import pandas as pd
import test_assignment2 as t

ModuleNotFoundError: No module named 'pytest'

In [3]:
df_1a=pd.read_csv("data/wine_a.csv")
df_1a

          Grape     Origin  Alcohol    pH Colour   Aroma
0    Chardonnay  Australia    14.23  3.51  White  Floral
1  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2   Pinot Blanc     France    13.16  3.16  White  Citrus
3        Shiraz      Chile    14.91  3.39    Red   Berry
4        Malbec  Argentina    13.83  3.28    Red  Fruity

In [9]:
df_1b=pd.read_csv("data/wine_b.csv")
df_1b

,My wine diary,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Grape,Origin,Alcohol,pH,Colour,Aroma,NaN
1,Chardonnay,Australia,14.23,3.51,White,Floral,NaN
2,Pinot Grigio,Italy,13.2,3.3,White,Fruity,NaN
3,Pinot Blanc,France,13.16,3.16,White,Citrus,NaN
4,Shiraz,Chile,14.91,3.39,Red,Berry,NaN
5,Malbec,Argentina,13.83,3.28,Red,Fruity,NaN

In [13]:
df_1b = pd.read_csv("data/wine_b.csv", skiprows=1)
df_1b

          Grape     Origin  Alcohol    pH Colour   Aroma
0    Chardonnay  Australia    14.23  3.51  White  Floral
1  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2   Pinot Blanc     France    13.16  3.16  White  Citrus
3        Shiraz      Chile    14.91  3.39    Red   Berry
4        Malbec  Argentina    13.83  3.28    Red  Fruity

In [5]:
df_1d = pd.read_csv("data/wine_d.txt", delimiter="\t")
df_1d

          Grape     Origin  Alcohol    pH Colour   Aroma
0    Chardonnay  Australia    14.23  3.51  White  Floral
1  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2   Pinot Blanc     France    13.16  3.16  White  Citrus
3        Shiraz      Chile    14.91  3.39    Red   Berry
4        Malbec  Argentina    13.83  3.28    Red  Fruity

In [8]:
df_1e = pd.read_csv("data/wine_e.csv").drop(columns="Add more columns")
df_1e

          Grape     Origin  Alcohol    pH Colour   Aroma
0    Chardonnay  Australia    14.23  3.51  White  Floral
1  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2   Pinot Blanc     France    13.16  3.16  White  Citrus
3        Shiraz      Chile    14.91  3.39    Red   Berry
4        Malbec  Argentina    13.83  3.28    Red  Fruity